@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Define the common styles for both buttons */
.button {
  font-weight: bold;
  width: 100px;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and shadow */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Shadow for depth */
}

/* Gradient styles for buttons */
.button-send {
  background: linear-gradient(40deg, #4A90E2, #2F80ED);
  color: white;
}

.button-signout {
  /* background: linear-gradient(40deg, #E74C3C, #C0392B); */
  color: white;
}

/* Hover effect with scale on mouse hover */
.button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly increase the shadow for more emphasis */
}

/* Active state for button press */
.button:active {
  transform: scale(1);
}

.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-300 {
  animation-delay: 300ms;
}
.animation-delay-400 {
  animation-delay: 40ms;
}

/* Parent div for button container */
.button-container {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  justify-content: flex-start; /* Align buttons to the left */
}

/* Move the buttons slightly to the right by applying margin-left */
.button-container button {
  margin-left: 10px; /* Adjust the value to move the button more or less to the right */
}

/* Moves message box a little to the right */
.message-input {
  padding-left: 2px;
  margin-left: 40px;
  max-width: 600px;
}

/* changes for the UI */
.gradient-background {
  background: linear-gradient(300deg, #03001e, #7303c0, #ec38bc, #fdeff9);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in-out;
}
